.container {
  position: relative;
  width: 100%;
  padding: 30px;
  border-radius: 30px;
  background: #a3acac;
}

.list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.list,
.measureList {
  display: flex;
  gap: 20px;
}

.item,
.moreItem {
  flex: 0 0 auto;
}

.moreButton {
  padding-block: 15px;
  padding-inline: 25px;
  background-color: #eaeaea;
  color: #707070;
  border: none;
  border-radius: 30px;
}

.popup {
  max-width: 450px;
  padding: 8px;
  border: 1px solid #c2c2c2;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 12px 24px rgb(0 0 0 / 12%);
}

.popupList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.measureList {
  position: absolute;
  top: 0;
  left: 0;
  width: max-content;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
  list-style: none;
}