.chip {
  min-width: 100px;
  padding-block: 10px;
  padding-inline: 20px;
  background-color: #eaeaea;
  color: #707070;
  border: none;
  border-radius: 30px;
}

.selected {
  background-color: powderblue;
  color: darkslateblue;
}