.chip {
  min-width: 100px;
  padding-block: 15px;
  padding-inline: 20px;
  background-color: #eaeaea;
  color: #707070;
  border: none;
  border-radius: 30px;

  &:hover {
    box-shadow: 5px 5px 5px rgb(0 0 0 / 15%);
    transition: box-shadow;
    transition-duration: 0.3s;
  }
}

.selected {
  background-color: #ebceff;
  color: darkslateblue;
}