.chip {
  min-width: 100px;
  padding-block: 15px;
  padding-inline: 20px;
  background-color: #eaeaea;
  color: #707070;
  border: none;
  border-radius: 30px;
  box-shadow: 0 0 0 rgb(0 0 0 / 0%);
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    box-shadow 0.2s ease-out;

  &:hover {
    box-shadow: 5px 5px 5px rgb(0 0 0 / 15%);
  }
}

.selected {
  background-color: #ebceff;
  color: darkslateblue;
}